In [ ]:
{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "b51b6d0e",
   "metadata": {},
   "outputs": [],
   "source": [
    "import numpy as np\n",
    "import pandas as pd\n",
    "from yaml import safe_load\n",
    "import os\n",
    "from tqdm import tqdm"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "3b79aab0",
   "metadata": {},
   "outputs": [],
   "source": [
    "filenames = []\n",
    "for file in os.listdir('data'):\n",
    "    filenames.append(os.path.join('data',file))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "e8e10322",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['data\\\\1001349.yaml',\n",
       " 'data\\\\1001351.yaml',\n",
       " 'data\\\\1001353.yaml',\n",
       " 'data\\\\1004729.yaml',\n",
       " 'data\\\\1007655.yaml']"
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "filenames[0:5]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "e9a21dad",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "100%|█████████████████████████████████████████████████████████████████████████████▉| 1432/1433 [06:08<00:00,  3.89it/s]\n"
     ]
    },
    {
     "ename": "AttributeError",
     "evalue": "'str' object has no attribute 'values'",
     "output_type": "error",
     "traceback": [
      "\u001b[1;31m---------------------------------------------------------------------------\u001b[0m",
      "\u001b[1;31mAttributeError\u001b[0m                            Traceback (most recent call last)",
      "\u001b[1;32m<ipython-input-4-792532c74aef>\u001b[0m in \u001b[0;36m<module>\u001b[1;34m\u001b[0m\n\u001b[0;32m      3\u001b[0m \u001b[1;32mfor\u001b[0m \u001b[0mfile\u001b[0m \u001b[1;32min\u001b[0m \u001b[0mtqdm\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mfilenames\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0;32m      4\u001b[0m     \u001b[1;32mwith\u001b[0m \u001b[0mopen\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mfile\u001b[0m\u001b[1;33m,\u001b[0m \u001b[1;34m'r'\u001b[0m\u001b[1;33m)\u001b[0m \u001b[1;32mas\u001b[0m \u001b[0mf\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[1;32m----> 5\u001b[1;33m         \u001b[0mdf\u001b[0m \u001b[1;33m=\u001b[0m \u001b[0mpd\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mjson_normalize\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0msafe_load\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mf\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m\u001b[0;32m      6\u001b[0m         \u001b[0mdf\u001b[0m\u001b[1;33m[\u001b[0m\u001b[1;34m'match_id'\u001b[0m\u001b[1;33m]\u001b[0m \u001b[1;33m=\u001b[0m \u001b[0mcounter\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0;32m      7\u001b[0m         \u001b[0mfinal_df\u001b[0m \u001b[1;33m=\u001b[0m \u001b[0mfinal_df\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mappend\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mdf\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n",
      "\u001b[1;32m~\\anaconda3\\lib\\site-packages\\pandas\\io\\json\\_normalize.py\u001b[0m in \u001b[0;36m_json_normalize\u001b[1;34m(data, record_path, meta, meta_prefix, record_prefix, errors, sep, max_level)\u001b[0m\n\u001b[0;32m    268\u001b[0m \u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0;32m    269\u001b[0m     \u001b[1;32mif\u001b[0m \u001b[0mrecord_path\u001b[0m \u001b[1;32mis\u001b[0m \u001b[1;32mNone\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[1;32m--> 270\u001b[1;33m         \u001b[1;32mif\u001b[0m \u001b[0many\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m[\u001b[0m\u001b[0misinstance\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mx\u001b[0m\u001b[1;33m,\u001b[0m \u001b[0mdict\u001b[0m\u001b[1;33m)\u001b[0m \u001b[1;32mfor\u001b[0m \u001b[0mx\u001b[0m \u001b[1;32min\u001b[0m \u001b[0my\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mvalues\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m]\u001b[0m \u001b[1;32mfor\u001b[0m \u001b[0my\u001b[0m \u001b[1;32min\u001b[0m \u001b[0mdata\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m\u001b[0;32m    271\u001b[0m             \u001b[1;31m# naive normalization, this is idempotent for flat records\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0;32m    272\u001b[0m             \u001b[1;31m# and potentially will inflate the data considerably for\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n",
      "\u001b[1;32m~\\anaconda3\\lib\\site-packages\\pandas\\io\\json\\_normalize.py\u001b[0m in \u001b[0;36m<genexpr>\u001b[1;34m(.0)\u001b[0m\n\u001b[0;32m    268\u001b[0m \u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0;32m    269\u001b[0m     \u001b[1;32mif\u001b[0m \u001b[0mrecord_path\u001b[0m \u001b[1;32mis\u001b[0m \u001b[1;32mNone\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[1;32m--> 270\u001b[1;33m         \u001b[1;32mif\u001b[0m \u001b[0many\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m[\u001b[0m\u001b[0misinstance\u001b[0m\u001b[1;33m(\u001b[0m\u001b[0mx\u001b[0m\u001b[1;33m,\u001b[0m \u001b[0mdict\u001b[0m\u001b[1;33m)\u001b[0m \u001b[1;32mfor\u001b[0m \u001b[0mx\u001b[0m \u001b[1;32min\u001b[0m \u001b[0my\u001b[0m\u001b[1;33m.\u001b[0m\u001b[0mvalues\u001b[0m\u001b[1;33m(\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m]\u001b[0m \u001b[1;32mfor\u001b[0m \u001b[0my\u001b[0m \u001b[1;32min\u001b[0m \u001b[0mdata\u001b[0m\u001b[1;33m)\u001b[0m\u001b[1;33m:\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m\u001b[0;32m    271\u001b[0m             \u001b[1;31m# naive normalization, this is idempotent for flat records\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0;32m    272\u001b[0m             \u001b[1;31m# and potentially will inflate the data considerably for\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n",
      "\u001b[1;31mAttributeError\u001b[0m: 'str' object has no attribute 'values'"
     ]
    }
   ],
   "source": [
    "final_df = pd.DataFrame()\n",
    "counter = 1\n",
    "for file in tqdm(filenames):\n",
    "    with open(file, 'r') as f:\n",
    "        df = pd.json_normalize(safe_load(f))\n",
    "        df['match_id'] = counter\n",
    "        final_df = final_df.append(df)\n",
    "        counter+=1\n",
    "        \n",
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "5b8543eb",
   "metadata": {},
   "outputs": [],
   "source": [
    "backup = final_df.copy()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "5364b992",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>innings</th>\n",
       "      <th>meta.data_version</th>\n",
       "      <th>meta.created</th>\n",
       "      <th>meta.revision</th>\n",
       "      <th>info.dates</th>\n",
       "      <th>info.gender</th>\n",
       "      <th>info.match_type</th>\n",
       "      <th>info.outcome.by.wickets</th>\n",
       "      <th>info.outcome.winner</th>\n",
       "      <th>info.overs</th>\n",
       "      <th>...</th>\n",
       "      <th>info.outcome.by.runs</th>\n",
       "      <th>info.match_type_number</th>\n",
       "      <th>info.neutral_venue</th>\n",
       "      <th>info.outcome.method</th>\n",
       "      <th>info.outcome.result</th>\n",
       "      <th>info.outcome.eliminator</th>\n",
       "      <th>info.supersubs.New Zealand</th>\n",
       "      <th>info.supersubs.South Africa</th>\n",
       "      <th>info.bowl_out</th>\n",
       "      <th>info.outcome.bowl_out</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2017-02-18</td>\n",
       "      <td>2</td>\n",
       "      <td>[2017-02-17]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>5.0</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2017-02-19</td>\n",
       "      <td>2</td>\n",
       "      <td>[2017-02-19]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>2.0</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2017-02-23</td>\n",
       "      <td>1</td>\n",
       "      <td>[2017-02-22]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>41.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Hong Kong', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-09-12</td>\n",
       "      <td>1</td>\n",
       "      <td>[2016-09-05]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>40.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Zimbabwe', 'deliver...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-06-19</td>\n",
       "      <td>1</td>\n",
       "      <td>[2016-06-18]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Zimbabwe</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>2.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-03-05</td>\n",
       "      <td>2</td>\n",
       "      <td>[2016-03-04]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>6.0</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>1.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Bangladesh', 'deliv...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-03-08</td>\n",
       "      <td>1</td>\n",
       "      <td>[2016-03-06]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>8.0</td>\n",
       "      <td>India</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Netherlands', 'deli...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-02-03</td>\n",
       "      <td>1</td>\n",
       "      <td>[2016-02-03]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Netherlands</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>84.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-09-12</td>\n",
       "      <td>1</td>\n",
       "      <td>[2016-09-06]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>85.0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>0.9</td>\n",
       "      <td>2016-09-12</td>\n",
       "      <td>1</td>\n",
       "      <td>[2016-09-09]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>4.0</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>...</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1432 rows × 28 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                                              innings  meta.data_version  \\\n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...                0.9   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...                0.9   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...                0.9   \n",
       "0   [{'1st innings': {'team': 'Hong Kong', 'delive...                0.9   \n",
       "0   [{'1st innings': {'team': 'Zimbabwe', 'deliver...                0.9   \n",
       "..                                                ...                ...   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...                0.9   \n",
       "0   [{'1st innings': {'team': 'Bangladesh', 'deliv...                0.9   \n",
       "0   [{'1st innings': {'team': 'Netherlands', 'deli...                0.9   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...                0.9   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...                0.9   \n",
       "\n",
       "   meta.created  meta.revision    info.dates info.gender info.match_type  \\\n",
       "0    2017-02-18              2  [2017-02-17]        male             T20   \n",
       "0    2017-02-19              2  [2017-02-19]        male             T20   \n",
       "0    2017-02-23              1  [2017-02-22]        male             T20   \n",
       "0    2016-09-12              1  [2016-09-05]        male             T20   \n",
       "0    2016-06-19              1  [2016-06-18]        male             T20   \n",
       "..          ...            ...           ...         ...             ...   \n",
       "0    2016-03-05              2  [2016-03-04]        male             T20   \n",
       "0    2016-03-08              1  [2016-03-06]        male             T20   \n",
       "0    2016-02-03              1  [2016-02-03]        male             T20   \n",
       "0    2016-09-12              1  [2016-09-06]        male             T20   \n",
       "0    2016-09-12              1  [2016-09-09]        male             T20   \n",
       "\n",
       "    info.outcome.by.wickets info.outcome.winner  info.overs  ...  \\\n",
       "0                       5.0           Sri Lanka          20  ...   \n",
       "0                       2.0           Sri Lanka          20  ...   \n",
       "0                       NaN           Australia          20  ...   \n",
       "0                       NaN           Hong Kong          20  ...   \n",
       "0                       NaN            Zimbabwe          20  ...   \n",
       "..                      ...                 ...         ...  ...   \n",
       "0                       6.0            Pakistan          20  ...   \n",
       "0                       8.0               India          20  ...   \n",
       "0                       NaN         Netherlands          20  ...   \n",
       "0                       NaN           Australia          20  ...   \n",
       "0                       4.0           Australia          20  ...   \n",
       "\n",
       "   info.outcome.by.runs info.match_type_number info.neutral_venue  \\\n",
       "0                   NaN                    NaN                NaN   \n",
       "0                   NaN                    NaN                NaN   \n",
       "0                  41.0                    NaN                NaN   \n",
       "0                  40.0                    NaN                NaN   \n",
       "0                   2.0                    NaN                NaN   \n",
       "..                  ...                    ...                ...   \n",
       "0                   NaN                    NaN                1.0   \n",
       "0                   NaN                    NaN                NaN   \n",
       "0                  84.0                    NaN                NaN   \n",
       "0                  85.0                    NaN                NaN   \n",
       "0                   NaN                    NaN                NaN   \n",
       "\n",
       "   info.outcome.method info.outcome.result info.outcome.eliminator  \\\n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "..                 ...                 ...                     ...   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "0                  NaN                 NaN                     NaN   \n",
       "\n",
       "    info.supersubs.New Zealand info.supersubs.South Africa  info.bowl_out  \\\n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "..                         ...                         ...            ...   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "0                          NaN                         NaN            NaN   \n",
       "\n",
       "    info.outcome.bowl_out  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "..                    ...  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "0                     NaN  \n",
       "\n",
       "[1432 rows x 28 columns]"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "86caf42b",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df.drop(columns=[\n",
    "    'meta.data_version',\n",
    "    'meta.created',\n",
    "    'meta.revision',\n",
    "    'info.outcome.bowl_out',\n",
    "    'info.bowl_out',\n",
    "    'info.supersubs.South Africa',\n",
    "    'info.supersubs.New Zealand',\n",
    "    'info.outcome.eliminator',\n",
    "    'info.outcome.result',\n",
    "    'info.outcome.method',\n",
    "    'info.neutral_venue',\n",
    "    'info.match_type_number',\n",
    "    'info.outcome.by.runs',\n",
    "    'info.outcome.by.wickets'\n",
    "],inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "1d5b9df6",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>innings</th>\n",
       "      <th>info.dates</th>\n",
       "      <th>info.gender</th>\n",
       "      <th>info.match_type</th>\n",
       "      <th>info.outcome.winner</th>\n",
       "      <th>info.overs</th>\n",
       "      <th>info.player_of_match</th>\n",
       "      <th>info.teams</th>\n",
       "      <th>info.toss.decision</th>\n",
       "      <th>info.toss.winner</th>\n",
       "      <th>info.umpires</th>\n",
       "      <th>info.venue</th>\n",
       "      <th>match_id</th>\n",
       "      <th>info.city</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-17]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>20</td>\n",
       "      <td>[DAS Gunaratne]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[MD Martell, P Wilson]</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-19]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>20</td>\n",
       "      <td>[DAS Gunaratne]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[SD Fry, SJ Nogajski]</td>\n",
       "      <td>Simonds Stadium, South Geelong</td>\n",
       "      <td>2</td>\n",
       "      <td>Victoria</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-22]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>[A Zampa]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[MD Martell, P Wilson]</td>\n",
       "      <td>Adelaide Oval</td>\n",
       "      <td>3</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Hong Kong', 'delive...</td>\n",
       "      <td>[2016-09-05]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>[Ireland, Hong Kong]</td>\n",
       "      <td>bat</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>[R Black, AJ Neill]</td>\n",
       "      <td>Bready Cricket Club, Magheramason</td>\n",
       "      <td>4</td>\n",
       "      <td>Londonderry</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Zimbabwe', 'deliver...</td>\n",
       "      <td>[2016-06-18]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Zimbabwe</td>\n",
       "      <td>20</td>\n",
       "      <td>[E Chigumbura]</td>\n",
       "      <td>[Zimbabwe, India]</td>\n",
       "      <td>field</td>\n",
       "      <td>India</td>\n",
       "      <td>[TJ Matibiri, RB Tiffin]</td>\n",
       "      <td>Harare Sports Club</td>\n",
       "      <td>5</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>[2016-03-04]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>20</td>\n",
       "      <td>[Umar Akmal]</td>\n",
       "      <td>[Pakistan, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>[AK Chaudhary, Enamul Haque]</td>\n",
       "      <td>Shere Bangla National Stadium</td>\n",
       "      <td>1428</td>\n",
       "      <td>Mirpur</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Bangladesh', 'deliv...</td>\n",
       "      <td>[2016-03-06]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>India</td>\n",
       "      <td>20</td>\n",
       "      <td>[S Dhawan]</td>\n",
       "      <td>[Bangladesh, India]</td>\n",
       "      <td>field</td>\n",
       "      <td>India</td>\n",
       "      <td>[RSA Palliyaguruge, Shozab Raza]</td>\n",
       "      <td>Shere Bangla National Stadium</td>\n",
       "      <td>1429</td>\n",
       "      <td>Mirpur</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Netherlands', 'deli...</td>\n",
       "      <td>[2016-02-03]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Netherlands</td>\n",
       "      <td>20</td>\n",
       "      <td>[Mudassar Bukhari]</td>\n",
       "      <td>[United Arab Emirates, Netherlands]</td>\n",
       "      <td>field</td>\n",
       "      <td>United Arab Emirates</td>\n",
       "      <td>[CK Nandan, Sarika Prasad]</td>\n",
       "      <td>ICC Academy</td>\n",
       "      <td>1430</td>\n",
       "      <td>Dubai</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2016-09-06]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>[GJ Maxwell]</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[REJ Martinesz, RR Wimalasiri]</td>\n",
       "      <td>Pallekele International Cricket Stadium</td>\n",
       "      <td>1431</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>[2016-09-09]</td>\n",
       "      <td>male</td>\n",
       "      <td>T20</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>[GJ Maxwell]</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>bat</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[REJ Martinesz, RSA Palliyaguruge]</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>1432</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>1432 rows × 14 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                                              innings    info.dates  \\\n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-17]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-19]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-22]   \n",
       "0   [{'1st innings': {'team': 'Hong Kong', 'delive...  [2016-09-05]   \n",
       "0   [{'1st innings': {'team': 'Zimbabwe', 'deliver...  [2016-06-18]   \n",
       "..                                                ...           ...   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...  [2016-03-04]   \n",
       "0   [{'1st innings': {'team': 'Bangladesh', 'deliv...  [2016-03-06]   \n",
       "0   [{'1st innings': {'team': 'Netherlands', 'deli...  [2016-02-03]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2016-09-06]   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...  [2016-09-09]   \n",
       "\n",
       "   info.gender info.match_type info.outcome.winner  info.overs  \\\n",
       "0         male             T20           Sri Lanka          20   \n",
       "0         male             T20           Sri Lanka          20   \n",
       "0         male             T20           Australia          20   \n",
       "0         male             T20           Hong Kong          20   \n",
       "0         male             T20            Zimbabwe          20   \n",
       "..         ...             ...                 ...         ...   \n",
       "0         male             T20            Pakistan          20   \n",
       "0         male             T20               India          20   \n",
       "0         male             T20         Netherlands          20   \n",
       "0         male             T20           Australia          20   \n",
       "0         male             T20           Australia          20   \n",
       "\n",
       "   info.player_of_match                           info.teams  \\\n",
       "0       [DAS Gunaratne]               [Australia, Sri Lanka]   \n",
       "0       [DAS Gunaratne]               [Australia, Sri Lanka]   \n",
       "0             [A Zampa]               [Australia, Sri Lanka]   \n",
       "0                   NaN                 [Ireland, Hong Kong]   \n",
       "0        [E Chigumbura]                    [Zimbabwe, India]   \n",
       "..                  ...                                  ...   \n",
       "0          [Umar Akmal]                [Pakistan, Sri Lanka]   \n",
       "0            [S Dhawan]                  [Bangladesh, India]   \n",
       "0    [Mudassar Bukhari]  [United Arab Emirates, Netherlands]   \n",
       "0          [GJ Maxwell]               [Sri Lanka, Australia]   \n",
       "0          [GJ Maxwell]               [Sri Lanka, Australia]   \n",
       "\n",
       "   info.toss.decision      info.toss.winner  \\\n",
       "0               field             Sri Lanka   \n",
       "0               field             Sri Lanka   \n",
       "0               field             Sri Lanka   \n",
       "0                 bat             Hong Kong   \n",
       "0               field                 India   \n",
       "..                ...                   ...   \n",
       "0               field              Pakistan   \n",
       "0               field                 India   \n",
       "0               field  United Arab Emirates   \n",
       "0               field             Sri Lanka   \n",
       "0                 bat             Sri Lanka   \n",
       "\n",
       "                          info.umpires  \\\n",
       "0               [MD Martell, P Wilson]   \n",
       "0                [SD Fry, SJ Nogajski]   \n",
       "0               [MD Martell, P Wilson]   \n",
       "0                  [R Black, AJ Neill]   \n",
       "0             [TJ Matibiri, RB Tiffin]   \n",
       "..                                 ...   \n",
       "0         [AK Chaudhary, Enamul Haque]   \n",
       "0     [RSA Palliyaguruge, Shozab Raza]   \n",
       "0           [CK Nandan, Sarika Prasad]   \n",
       "0       [REJ Martinesz, RR Wimalasiri]   \n",
       "0   [REJ Martinesz, RSA Palliyaguruge]   \n",
       "\n",
       "                                 info.venue  match_id    info.city  \n",
       "0                  Melbourne Cricket Ground         1          NaN  \n",
       "0            Simonds Stadium, South Geelong         2     Victoria  \n",
       "0                             Adelaide Oval         3          NaN  \n",
       "0         Bready Cricket Club, Magheramason         4  Londonderry  \n",
       "0                        Harare Sports Club         5          NaN  \n",
       "..                                      ...       ...          ...  \n",
       "0             Shere Bangla National Stadium      1428       Mirpur  \n",
       "0             Shere Bangla National Stadium      1429       Mirpur  \n",
       "0                               ICC Academy      1430        Dubai  \n",
       "0   Pallekele International Cricket Stadium      1431          NaN  \n",
       "0                       R Premadasa Stadium      1432      Colombo  \n",
       "\n",
       "[1432 rows x 14 columns]"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "id": "150f4029",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "male      966\n",
       "female    466\n",
       "Name: info.gender, dtype: int64"
      ]
     },
     "execution_count": 24,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df['info.gender'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "f5105922",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\Users\\91842\\anaconda3\\lib\\site-packages\\pandas\\core\\frame.py:4308: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  return super().drop(\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>innings</th>\n",
       "      <th>info.dates</th>\n",
       "      <th>info.match_type</th>\n",
       "      <th>info.outcome.winner</th>\n",
       "      <th>info.overs</th>\n",
       "      <th>info.player_of_match</th>\n",
       "      <th>info.teams</th>\n",
       "      <th>info.toss.decision</th>\n",
       "      <th>info.toss.winner</th>\n",
       "      <th>info.umpires</th>\n",
       "      <th>info.venue</th>\n",
       "      <th>match_id</th>\n",
       "      <th>info.city</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-17]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>20</td>\n",
       "      <td>[DAS Gunaratne]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[MD Martell, P Wilson]</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-19]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>20</td>\n",
       "      <td>[DAS Gunaratne]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[SD Fry, SJ Nogajski]</td>\n",
       "      <td>Simonds Stadium, South Geelong</td>\n",
       "      <td>2</td>\n",
       "      <td>Victoria</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-22]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>[A Zampa]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[MD Martell, P Wilson]</td>\n",
       "      <td>Adelaide Oval</td>\n",
       "      <td>3</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Hong Kong', 'delive...</td>\n",
       "      <td>[2016-09-05]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>20</td>\n",
       "      <td>NaN</td>\n",
       "      <td>[Ireland, Hong Kong]</td>\n",
       "      <td>bat</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>[R Black, AJ Neill]</td>\n",
       "      <td>Bready Cricket Club, Magheramason</td>\n",
       "      <td>4</td>\n",
       "      <td>Londonderry</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Zimbabwe', 'deliver...</td>\n",
       "      <td>[2016-06-18]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Zimbabwe</td>\n",
       "      <td>20</td>\n",
       "      <td>[E Chigumbura]</td>\n",
       "      <td>[Zimbabwe, India]</td>\n",
       "      <td>field</td>\n",
       "      <td>India</td>\n",
       "      <td>[TJ Matibiri, RB Tiffin]</td>\n",
       "      <td>Harare Sports Club</td>\n",
       "      <td>5</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>[2016-03-04]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>20</td>\n",
       "      <td>[Umar Akmal]</td>\n",
       "      <td>[Pakistan, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>[AK Chaudhary, Enamul Haque]</td>\n",
       "      <td>Shere Bangla National Stadium</td>\n",
       "      <td>1428</td>\n",
       "      <td>Mirpur</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Bangladesh', 'deliv...</td>\n",
       "      <td>[2016-03-06]</td>\n",
       "      <td>T20</td>\n",
       "      <td>India</td>\n",
       "      <td>20</td>\n",
       "      <td>[S Dhawan]</td>\n",
       "      <td>[Bangladesh, India]</td>\n",
       "      <td>field</td>\n",
       "      <td>India</td>\n",
       "      <td>[RSA Palliyaguruge, Shozab Raza]</td>\n",
       "      <td>Shere Bangla National Stadium</td>\n",
       "      <td>1429</td>\n",
       "      <td>Mirpur</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Netherlands', 'deli...</td>\n",
       "      <td>[2016-02-03]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Netherlands</td>\n",
       "      <td>20</td>\n",
       "      <td>[Mudassar Bukhari]</td>\n",
       "      <td>[United Arab Emirates, Netherlands]</td>\n",
       "      <td>field</td>\n",
       "      <td>United Arab Emirates</td>\n",
       "      <td>[CK Nandan, Sarika Prasad]</td>\n",
       "      <td>ICC Academy</td>\n",
       "      <td>1430</td>\n",
       "      <td>Dubai</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2016-09-06]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>[GJ Maxwell]</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[REJ Martinesz, RR Wimalasiri]</td>\n",
       "      <td>Pallekele International Cricket Stadium</td>\n",
       "      <td>1431</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>[2016-09-09]</td>\n",
       "      <td>T20</td>\n",
       "      <td>Australia</td>\n",
       "      <td>20</td>\n",
       "      <td>[GJ Maxwell]</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>bat</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[REJ Martinesz, RSA Palliyaguruge]</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>1432</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>966 rows × 13 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                                              innings    info.dates  \\\n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-17]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-19]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-22]   \n",
       "0   [{'1st innings': {'team': 'Hong Kong', 'delive...  [2016-09-05]   \n",
       "0   [{'1st innings': {'team': 'Zimbabwe', 'deliver...  [2016-06-18]   \n",
       "..                                                ...           ...   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...  [2016-03-04]   \n",
       "0   [{'1st innings': {'team': 'Bangladesh', 'deliv...  [2016-03-06]   \n",
       "0   [{'1st innings': {'team': 'Netherlands', 'deli...  [2016-02-03]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2016-09-06]   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...  [2016-09-09]   \n",
       "\n",
       "   info.match_type info.outcome.winner  info.overs info.player_of_match  \\\n",
       "0              T20           Sri Lanka          20      [DAS Gunaratne]   \n",
       "0              T20           Sri Lanka          20      [DAS Gunaratne]   \n",
       "0              T20           Australia          20            [A Zampa]   \n",
       "0              T20           Hong Kong          20                  NaN   \n",
       "0              T20            Zimbabwe          20       [E Chigumbura]   \n",
       "..             ...                 ...         ...                  ...   \n",
       "0              T20            Pakistan          20         [Umar Akmal]   \n",
       "0              T20               India          20           [S Dhawan]   \n",
       "0              T20         Netherlands          20   [Mudassar Bukhari]   \n",
       "0              T20           Australia          20         [GJ Maxwell]   \n",
       "0              T20           Australia          20         [GJ Maxwell]   \n",
       "\n",
       "                             info.teams info.toss.decision  \\\n",
       "0                [Australia, Sri Lanka]              field   \n",
       "0                [Australia, Sri Lanka]              field   \n",
       "0                [Australia, Sri Lanka]              field   \n",
       "0                  [Ireland, Hong Kong]                bat   \n",
       "0                     [Zimbabwe, India]              field   \n",
       "..                                  ...                ...   \n",
       "0                 [Pakistan, Sri Lanka]              field   \n",
       "0                   [Bangladesh, India]              field   \n",
       "0   [United Arab Emirates, Netherlands]              field   \n",
       "0                [Sri Lanka, Australia]              field   \n",
       "0                [Sri Lanka, Australia]                bat   \n",
       "\n",
       "        info.toss.winner                        info.umpires  \\\n",
       "0              Sri Lanka              [MD Martell, P Wilson]   \n",
       "0              Sri Lanka               [SD Fry, SJ Nogajski]   \n",
       "0              Sri Lanka              [MD Martell, P Wilson]   \n",
       "0              Hong Kong                 [R Black, AJ Neill]   \n",
       "0                  India            [TJ Matibiri, RB Tiffin]   \n",
       "..                   ...                                 ...   \n",
       "0               Pakistan        [AK Chaudhary, Enamul Haque]   \n",
       "0                  India    [RSA Palliyaguruge, Shozab Raza]   \n",
       "0   United Arab Emirates          [CK Nandan, Sarika Prasad]   \n",
       "0              Sri Lanka      [REJ Martinesz, RR Wimalasiri]   \n",
       "0              Sri Lanka  [REJ Martinesz, RSA Palliyaguruge]   \n",
       "\n",
       "                                 info.venue  match_id    info.city  \n",
       "0                  Melbourne Cricket Ground         1          NaN  \n",
       "0            Simonds Stadium, South Geelong         2     Victoria  \n",
       "0                             Adelaide Oval         3          NaN  \n",
       "0         Bready Cricket Club, Magheramason         4  Londonderry  \n",
       "0                        Harare Sports Club         5          NaN  \n",
       "..                                      ...       ...          ...  \n",
       "0             Shere Bangla National Stadium      1428       Mirpur  \n",
       "0             Shere Bangla National Stadium      1429       Mirpur  \n",
       "0                               ICC Academy      1430        Dubai  \n",
       "0   Pallekele International Cricket Stadium      1431          NaN  \n",
       "0                       R Premadasa Stadium      1432      Colombo  \n",
       "\n",
       "[966 rows x 13 columns]"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df = final_df[final_df['info.gender'] == 'male']\n",
    "final_df.drop(columns=['info.gender'],inplace=True)\n",
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "id": "0fa8928f",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "T20    966\n",
       "Name: info.match_type, dtype: int64"
      ]
     },
     "execution_count": 27,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df['info.match_type'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "a9f71b83",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "20    963\n",
       "50      3\n",
       "Name: info.overs, dtype: int64"
      ]
     },
     "execution_count": 28,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df['info.overs'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "3cdbab04",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\Users\\91842\\anaconda3\\lib\\site-packages\\pandas\\core\\frame.py:4308: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  return super().drop(\n"
     ]
    },
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>innings</th>\n",
       "      <th>info.dates</th>\n",
       "      <th>info.outcome.winner</th>\n",
       "      <th>info.player_of_match</th>\n",
       "      <th>info.teams</th>\n",
       "      <th>info.toss.decision</th>\n",
       "      <th>info.toss.winner</th>\n",
       "      <th>info.umpires</th>\n",
       "      <th>info.venue</th>\n",
       "      <th>match_id</th>\n",
       "      <th>info.city</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-17]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[DAS Gunaratne]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[MD Martell, P Wilson]</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>1</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-19]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[DAS Gunaratne]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[SD Fry, SJ Nogajski]</td>\n",
       "      <td>Simonds Stadium, South Geelong</td>\n",
       "      <td>2</td>\n",
       "      <td>Victoria</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2017-02-22]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>[A Zampa]</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[MD Martell, P Wilson]</td>\n",
       "      <td>Adelaide Oval</td>\n",
       "      <td>3</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Hong Kong', 'delive...</td>\n",
       "      <td>[2016-09-05]</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>NaN</td>\n",
       "      <td>[Ireland, Hong Kong]</td>\n",
       "      <td>bat</td>\n",
       "      <td>Hong Kong</td>\n",
       "      <td>[R Black, AJ Neill]</td>\n",
       "      <td>Bready Cricket Club, Magheramason</td>\n",
       "      <td>4</td>\n",
       "      <td>Londonderry</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Zimbabwe', 'deliver...</td>\n",
       "      <td>[2016-06-18]</td>\n",
       "      <td>Zimbabwe</td>\n",
       "      <td>[E Chigumbura]</td>\n",
       "      <td>[Zimbabwe, India]</td>\n",
       "      <td>field</td>\n",
       "      <td>India</td>\n",
       "      <td>[TJ Matibiri, RB Tiffin]</td>\n",
       "      <td>Harare Sports Club</td>\n",
       "      <td>5</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>[2016-03-04]</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>[Umar Akmal]</td>\n",
       "      <td>[Pakistan, Sri Lanka]</td>\n",
       "      <td>field</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>[AK Chaudhary, Enamul Haque]</td>\n",
       "      <td>Shere Bangla National Stadium</td>\n",
       "      <td>1428</td>\n",
       "      <td>Mirpur</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Bangladesh', 'deliv...</td>\n",
       "      <td>[2016-03-06]</td>\n",
       "      <td>India</td>\n",
       "      <td>[S Dhawan]</td>\n",
       "      <td>[Bangladesh, India]</td>\n",
       "      <td>field</td>\n",
       "      <td>India</td>\n",
       "      <td>[RSA Palliyaguruge, Shozab Raza]</td>\n",
       "      <td>Shere Bangla National Stadium</td>\n",
       "      <td>1429</td>\n",
       "      <td>Mirpur</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Netherlands', 'deli...</td>\n",
       "      <td>[2016-02-03]</td>\n",
       "      <td>Netherlands</td>\n",
       "      <td>[Mudassar Bukhari]</td>\n",
       "      <td>[United Arab Emirates, Netherlands]</td>\n",
       "      <td>field</td>\n",
       "      <td>United Arab Emirates</td>\n",
       "      <td>[CK Nandan, Sarika Prasad]</td>\n",
       "      <td>ICC Academy</td>\n",
       "      <td>1430</td>\n",
       "      <td>Dubai</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Australia', 'delive...</td>\n",
       "      <td>[2016-09-06]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>[GJ Maxwell]</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>field</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[REJ Martinesz, RR Wimalasiri]</td>\n",
       "      <td>Pallekele International Cricket Stadium</td>\n",
       "      <td>1431</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>[{'1st innings': {'team': 'Sri Lanka', 'delive...</td>\n",
       "      <td>[2016-09-09]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>[GJ Maxwell]</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>bat</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>[REJ Martinesz, RSA Palliyaguruge]</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>1432</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>963 rows × 11 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "                                              innings    info.dates  \\\n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-17]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-19]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2017-02-22]   \n",
       "0   [{'1st innings': {'team': 'Hong Kong', 'delive...  [2016-09-05]   \n",
       "0   [{'1st innings': {'team': 'Zimbabwe', 'deliver...  [2016-06-18]   \n",
       "..                                                ...           ...   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...  [2016-03-04]   \n",
       "0   [{'1st innings': {'team': 'Bangladesh', 'deliv...  [2016-03-06]   \n",
       "0   [{'1st innings': {'team': 'Netherlands', 'deli...  [2016-02-03]   \n",
       "0   [{'1st innings': {'team': 'Australia', 'delive...  [2016-09-06]   \n",
       "0   [{'1st innings': {'team': 'Sri Lanka', 'delive...  [2016-09-09]   \n",
       "\n",
       "   info.outcome.winner info.player_of_match  \\\n",
       "0            Sri Lanka      [DAS Gunaratne]   \n",
       "0            Sri Lanka      [DAS Gunaratne]   \n",
       "0            Australia            [A Zampa]   \n",
       "0            Hong Kong                  NaN   \n",
       "0             Zimbabwe       [E Chigumbura]   \n",
       "..                 ...                  ...   \n",
       "0             Pakistan         [Umar Akmal]   \n",
       "0                India           [S Dhawan]   \n",
       "0          Netherlands   [Mudassar Bukhari]   \n",
       "0            Australia         [GJ Maxwell]   \n",
       "0            Australia         [GJ Maxwell]   \n",
       "\n",
       "                             info.teams info.toss.decision  \\\n",
       "0                [Australia, Sri Lanka]              field   \n",
       "0                [Australia, Sri Lanka]              field   \n",
       "0                [Australia, Sri Lanka]              field   \n",
       "0                  [Ireland, Hong Kong]                bat   \n",
       "0                     [Zimbabwe, India]              field   \n",
       "..                                  ...                ...   \n",
       "0                 [Pakistan, Sri Lanka]              field   \n",
       "0                   [Bangladesh, India]              field   \n",
       "0   [United Arab Emirates, Netherlands]              field   \n",
       "0                [Sri Lanka, Australia]              field   \n",
       "0                [Sri Lanka, Australia]                bat   \n",
       "\n",
       "        info.toss.winner                        info.umpires  \\\n",
       "0              Sri Lanka              [MD Martell, P Wilson]   \n",
       "0              Sri Lanka               [SD Fry, SJ Nogajski]   \n",
       "0              Sri Lanka              [MD Martell, P Wilson]   \n",
       "0              Hong Kong                 [R Black, AJ Neill]   \n",
       "0                  India            [TJ Matibiri, RB Tiffin]   \n",
       "..                   ...                                 ...   \n",
       "0               Pakistan        [AK Chaudhary, Enamul Haque]   \n",
       "0                  India    [RSA Palliyaguruge, Shozab Raza]   \n",
       "0   United Arab Emirates          [CK Nandan, Sarika Prasad]   \n",
       "0              Sri Lanka      [REJ Martinesz, RR Wimalasiri]   \n",
       "0              Sri Lanka  [REJ Martinesz, RSA Palliyaguruge]   \n",
       "\n",
       "                                 info.venue  match_id    info.city  \n",
       "0                  Melbourne Cricket Ground         1          NaN  \n",
       "0            Simonds Stadium, South Geelong         2     Victoria  \n",
       "0                             Adelaide Oval         3          NaN  \n",
       "0         Bready Cricket Club, Magheramason         4  Londonderry  \n",
       "0                        Harare Sports Club         5          NaN  \n",
       "..                                      ...       ...          ...  \n",
       "0             Shere Bangla National Stadium      1428       Mirpur  \n",
       "0             Shere Bangla National Stadium      1429       Mirpur  \n",
       "0                               ICC Academy      1430        Dubai  \n",
       "0   Pallekele International Cricket Stadium      1431          NaN  \n",
       "0                       R Premadasa Stadium      1432      Colombo  \n",
       "\n",
       "[963 rows x 11 columns]"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df = final_df[final_df['info.overs'] == 20]\n",
    "final_df.drop(columns=['info.overs','info.match_type'],inplace=True)\n",
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "c9875c22",
   "metadata": {},
   "outputs": [],
   "source": [
    "import pickle\n",
    "pickle.dump(final_df,open('dataset_level1.pkl','wb'))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "fc9e2094",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "[{0.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {0.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {0.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {0.4: {'batsman': 'M Klinger',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {0.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {0.6: {'batsman': 'M Klinger',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},\n",
       " {1.1: {'batsman': 'M Klinger',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {1.2: {'batsman': 'M Klinger',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {1.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {1.4: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {1.5: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {1.6: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {2.1: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {2.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {2.3: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {2.4: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {2.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {2.6: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {3.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {3.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {3.3: {'batsman': 'M Klinger',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {3.4: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {3.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {3.6: {'batsman': 'M Klinger',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {4.1: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},\n",
       " {4.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},\n",
       " {4.3: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {4.4: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {4.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {4.6: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {5.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {5.2: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'extras': {'wides': 1},\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {5.3: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {5.4: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {5.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {5.6: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {5.7: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {6.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {6.2: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {6.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {6.4: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {6.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {6.6: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {7.1: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {7.2: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {7.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {7.4: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'extras': {'byes': 1},\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {7.5: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {7.6: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {8.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {8.2: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},\n",
       " {8.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {8.4: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {8.5: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {8.6: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {9.1: {'batsman': 'M Klinger',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {9.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {9.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {9.4: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {9.5: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},\n",
       " {9.6: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {10.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {10.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'extras': {'legbyes': 1},\n",
       "   'non_striker': 'M Klinger',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {10.3: {'batsman': 'M Klinger',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0},\n",
       "   'wicket': {'fielders': ['SL Malinga'],\n",
       "    'kind': 'caught',\n",
       "    'player_out': 'M Klinger'}}},\n",
       " {10.4: {'batsman': 'TM Head',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {10.5: {'batsman': 'TM Head',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {10.6: {'batsman': 'TM Head',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'AJ Finch',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {11.1: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'DAS Gunaratne',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},\n",
       " {11.2: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'DAS Gunaratne',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {11.3: {'batsman': 'AJ Finch',\n",
       "   'bowler': 'DAS Gunaratne',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0},\n",
       "   'wicket': {'fielders': ['SL Malinga'],\n",
       "    'kind': 'caught',\n",
       "    'player_out': 'AJ Finch'}}},\n",
       " {11.4: {'batsman': 'TM Head',\n",
       "   'bowler': 'DAS Gunaratne',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {11.5: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'DAS Gunaratne',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {11.6: {'batsman': 'TM Head',\n",
       "   'bowler': 'DAS Gunaratne',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {12.1: {'batsman': 'TM Head',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {12.2: {'batsman': 'TM Head',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {12.3: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {12.4: {'batsman': 'TM Head',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {12.5: {'batsman': 'TM Head',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {12.6: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'S Prasanna',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {13.1: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {13.2: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'extras': {'wides': 1},\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {13.3: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {13.4: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {13.5: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {13.6: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {13.7: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {14.1: {'batsman': 'TM Head',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {14.2: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},\n",
       " {14.3: {'batsman': 'TM Head',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {14.4: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},\n",
       " {14.5: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},\n",
       " {14.6: {'batsman': 'TM Head',\n",
       "   'bowler': 'PADLR Sandakan',\n",
       "   'non_striker': 'MC Henriques',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {15.1: {'batsman': 'MC Henriques',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0},\n",
       "   'wicket': {'fielders': ['CK Kapugedera'],\n",
       "    'kind': 'caught',\n",
       "    'player_out': 'MC Henriques'}}},\n",
       " {15.2: {'batsman': 'TM Head',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {15.3: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {15.4: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {15.5: {'batsman': 'TM Head',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {15.6: {'batsman': 'TM Head',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'extras': {'wides': 1},\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {15.7: {'batsman': 'TM Head',\n",
       "   'bowler': 'JRMVB Sanjaya',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},\n",
       " {16.1: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {16.2: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {16.3: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {16.4: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {16.5: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {16.6: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {17.1: {'batsman': 'TM Head',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {17.2: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {17.3: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'extras': {'noballs': 1},\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {17.4: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {17.5: {'batsman': 'TM Head',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {17.6: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {17.7: {'batsman': 'TM Head',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {18.1: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {18.2: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TM Head',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {18.3: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {18.4: {'batsman': 'TM Head',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'AJ Turner',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0},\n",
       "   'wicket': {'fielders': ['S Prasanna'],\n",
       "    'kind': 'caught',\n",
       "    'player_out': 'TM Head'}}},\n",
       " {18.5: {'batsman': 'AJ Turner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'JP Faulkner',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0},\n",
       "   'wicket': {'fielders': ['S Prasanna'],\n",
       "    'kind': 'caught',\n",
       "    'player_out': 'AJ Turner'}}},\n",
       " {18.6: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'SL Malinga',\n",
       "   'non_striker': 'TD Paine',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},\n",
       " {19.1: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TD Paine',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},\n",
       " {19.2: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TD Paine',\n",
       "   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},\n",
       " {19.3: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TD Paine',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {19.4: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'extras': {'wides': 1},\n",
       "   'non_striker': 'TD Paine',\n",
       "   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},\n",
       " {19.5: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'TD Paine',\n",
       "   'runs': {'batsman': 1, 'extras': 0, 'total': 1},\n",
       "   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],\n",
       "    'kind': 'run out',\n",
       "    'player_out': 'TD Paine'}}},\n",
       " {19.6: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'PJ Cummins',\n",
       "   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},\n",
       " {19.7: {'batsman': 'JP Faulkner',\n",
       "   'bowler': 'KMDN Kulasekara',\n",
       "   'non_striker': 'PJ Cummins',\n",
       "   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]"
      ]
     },
     "execution_count": 25,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "#matches = pickle.load(open('dataset_level1.pkl','rb'))\n",
    "matches.iloc[0]['innings'][0]['1st innings']['deliveries']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "id": "c290fcca",
   "metadata": {},
   "outputs": [],
   "source": [
    "count = 1\n",
    "delivery_df = pd.DataFrame()\n",
    "for index, row in matches.iterrows():\n",
    "    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:\n",
    "        count+=1\n",
    "        continue\n",
    "    count+=1\n",
    "    ball_of_match = []\n",
    "    batsman = []\n",
    "    bowler = []\n",
    "    runs = []\n",
    "    player_of_dismissed = []\n",
    "    teams = []\n",
    "    batting_team = []\n",
    "    match_id = []\n",
    "    city = []\n",
    "    venue = []\n",
    "    for ball in row['innings'][0]['1st innings']['deliveries']:\n",
    "        for key in ball.keys():\n",
    "            match_id.append(count)\n",
    "            batting_team.append(row['innings'][0]['1st innings']['team'])\n",
    "            teams.append(row['info.teams'])\n",
    "            ball_of_match.append(key)\n",
    "            batsman.append(ball[key]['batsman'])\n",
    "            bowler.append(ball[key]['bowler'])\n",
    "            runs.append(ball[key]['runs']['total'])\n",
    "            city.append(row['info.city'])\n",
    "            venue.append(row['info.venue'])\n",
    "            try:\n",
    "                player_of_dismissed.append(ball[key]['wicket']['player_out'])\n",
    "            except:\n",
    "                player_of_dismissed.append('0')\n",
    "    loop_df = pd.DataFrame({\n",
    "            'match_id':match_id,\n",
    "            'teams':teams,\n",
    "            'batting_team':batting_team,\n",
    "            'ball':ball_of_match,\n",
    "            'batsman':batsman,\n",
    "            'bowler':bowler,\n",
    "            'runs':runs,\n",
    "            'player_dismissed':player_of_dismissed,\n",
    "            'city':city,\n",
    "            'venue':venue\n",
    "        })\n",
    "    delivery_df = delivery_df.append(loop_df)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "id": "678fa7f2",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>teams</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>ball</th>\n",
       "      <th>batsman</th>\n",
       "      <th>bowler</th>\n",
       "      <th>runs</th>\n",
       "      <th>player_dismissed</th>\n",
       "      <th>city</th>\n",
       "      <th>venue</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.1</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.2</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.3</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.4</td>\n",
       "      <td>M Klinger</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.5</td>\n",
       "      <td>M Klinger</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>121</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.3</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>122</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.4</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>123</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.5</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>0</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>124</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.6</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>125</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.7</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>115325 rows × 10 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     match_id                   teams batting_team  ball          batsman  \\\n",
       "0           2  [Australia, Sri Lanka]    Australia   0.1         AJ Finch   \n",
       "1           2  [Australia, Sri Lanka]    Australia   0.2         AJ Finch   \n",
       "2           2  [Australia, Sri Lanka]    Australia   0.3         AJ Finch   \n",
       "3           2  [Australia, Sri Lanka]    Australia   0.4        M Klinger   \n",
       "4           2  [Australia, Sri Lanka]    Australia   0.5        M Klinger   \n",
       "..        ...                     ...          ...   ...              ...   \n",
       "121       964  [Sri Lanka, Australia]    Sri Lanka  19.3  SMSM Senanayake   \n",
       "122       964  [Sri Lanka, Australia]    Sri Lanka  19.4      DM de Silva   \n",
       "123       964  [Sri Lanka, Australia]    Sri Lanka  19.5      DM de Silva   \n",
       "124       964  [Sri Lanka, Australia]    Sri Lanka  19.6  SMSM Senanayake   \n",
       "125       964  [Sri Lanka, Australia]    Sri Lanka  19.7  SMSM Senanayake   \n",
       "\n",
       "         bowler  runs player_dismissed     city                     venue  \n",
       "0    SL Malinga     0                0      NaN  Melbourne Cricket Ground  \n",
       "1    SL Malinga     0                0      NaN  Melbourne Cricket Ground  \n",
       "2    SL Malinga     1                0      NaN  Melbourne Cricket Ground  \n",
       "3    SL Malinga     2                0      NaN  Melbourne Cricket Ground  \n",
       "4    SL Malinga     0                0      NaN  Melbourne Cricket Ground  \n",
       "..          ...   ...              ...      ...                       ...  \n",
       "121    MA Starc     1                0  Colombo       R Premadasa Stadium  \n",
       "122    MA Starc     0                0  Colombo       R Premadasa Stadium  \n",
       "123    MA Starc     0      DM de Silva  Colombo       R Premadasa Stadium  \n",
       "124    MA Starc     2                0  Colombo       R Premadasa Stadium  \n",
       "125    MA Starc     1                0  Colombo       R Premadasa Stadium  \n",
       "\n",
       "[115325 rows x 10 columns]"
      ]
     },
     "execution_count": 37,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "delivery_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "id": "5f01e791",
   "metadata": {},
   "outputs": [],
   "source": [
    "def bowl(row):\n",
    "    for team in row['teams']:\n",
    "        if team != row['batting_team']:\n",
    "            return team"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "id": "a9926d67",
   "metadata": {},
   "outputs": [],
   "source": [
    "delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "id": "3cb08198",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>teams</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>ball</th>\n",
       "      <th>batsman</th>\n",
       "      <th>bowler</th>\n",
       "      <th>runs</th>\n",
       "      <th>player_dismissed</th>\n",
       "      <th>city</th>\n",
       "      <th>venue</th>\n",
       "      <th>bowling_team</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.1</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.2</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.3</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.4</td>\n",
       "      <td>M Klinger</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>[Australia, Sri Lanka]</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.5</td>\n",
       "      <td>M Klinger</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>121</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.3</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>122</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.4</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>123</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.5</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>0</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>124</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.6</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>125</th>\n",
       "      <td>964</td>\n",
       "      <td>[Sri Lanka, Australia]</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.7</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>115325 rows × 11 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     match_id                   teams batting_team  ball          batsman  \\\n",
       "0           2  [Australia, Sri Lanka]    Australia   0.1         AJ Finch   \n",
       "1           2  [Australia, Sri Lanka]    Australia   0.2         AJ Finch   \n",
       "2           2  [Australia, Sri Lanka]    Australia   0.3         AJ Finch   \n",
       "3           2  [Australia, Sri Lanka]    Australia   0.4        M Klinger   \n",
       "4           2  [Australia, Sri Lanka]    Australia   0.5        M Klinger   \n",
       "..        ...                     ...          ...   ...              ...   \n",
       "121       964  [Sri Lanka, Australia]    Sri Lanka  19.3  SMSM Senanayake   \n",
       "122       964  [Sri Lanka, Australia]    Sri Lanka  19.4      DM de Silva   \n",
       "123       964  [Sri Lanka, Australia]    Sri Lanka  19.5      DM de Silva   \n",
       "124       964  [Sri Lanka, Australia]    Sri Lanka  19.6  SMSM Senanayake   \n",
       "125       964  [Sri Lanka, Australia]    Sri Lanka  19.7  SMSM Senanayake   \n",
       "\n",
       "         bowler  runs player_dismissed     city                     venue  \\\n",
       "0    SL Malinga     0                0      NaN  Melbourne Cricket Ground   \n",
       "1    SL Malinga     0                0      NaN  Melbourne Cricket Ground   \n",
       "2    SL Malinga     1                0      NaN  Melbourne Cricket Ground   \n",
       "3    SL Malinga     2                0      NaN  Melbourne Cricket Ground   \n",
       "4    SL Malinga     0                0      NaN  Melbourne Cricket Ground   \n",
       "..          ...   ...              ...      ...                       ...   \n",
       "121    MA Starc     1                0  Colombo       R Premadasa Stadium   \n",
       "122    MA Starc     0                0  Colombo       R Premadasa Stadium   \n",
       "123    MA Starc     0      DM de Silva  Colombo       R Premadasa Stadium   \n",
       "124    MA Starc     2                0  Colombo       R Premadasa Stadium   \n",
       "125    MA Starc     1                0  Colombo       R Premadasa Stadium   \n",
       "\n",
       "    bowling_team  \n",
       "0      Sri Lanka  \n",
       "1      Sri Lanka  \n",
       "2      Sri Lanka  \n",
       "3      Sri Lanka  \n",
       "4      Sri Lanka  \n",
       "..           ...  \n",
       "121    Australia  \n",
       "122    Australia  \n",
       "123    Australia  \n",
       "124    Australia  \n",
       "125    Australia  \n",
       "\n",
       "[115325 rows x 11 columns]"
      ]
     },
     "execution_count": 40,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "delivery_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "id": "87b31724",
   "metadata": {},
   "outputs": [],
   "source": [
    "delivery_df.drop(columns=['teams'],inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 42,
   "id": "6e7f371d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh',\n",
       "       'New Zealand', 'South Africa', 'England', 'West Indies', 'Ireland',\n",
       "       'Afghanistan', 'Pakistan', 'United Arab Emirates', 'Scotland',\n",
       "       'Oman', 'Papua New Guinea', 'Sri Lanka', 'Netherlands', 'Nepal',\n",
       "       'Vanuatu', 'Philippines', 'United States of America', 'Germany',\n",
       "       'Ghana', 'Uganda', 'Kenya', 'Namibia', 'Nigeria', 'Botswana',\n",
       "       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',\n",
       "       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Bermuda', 'Canada',\n",
       "       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',\n",
       "       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania'],\n",
       "      dtype=object)"
      ]
     },
     "execution_count": 42,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "delivery_df['batting_team'].unique()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 43,
   "id": "30cb121e",
   "metadata": {},
   "outputs": [],
   "source": [
    "teams = [\n",
    "    'Australia',\n",
    "    'India',\n",
    "    'Bangladesh',\n",
    "    'New Zealand',\n",
    "    'South Africa',\n",
    "    'England',\n",
    "    'West Indies',\n",
    "    'Afghanistan',\n",
    "    'Pakistan',\n",
    "    'Sri Lanka'    \n",
    "]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 44,
   "id": "268c4088",
   "metadata": {},
   "outputs": [],
   "source": [
    "delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]\n",
    "delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 45,
   "id": "66e9dc71",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>ball</th>\n",
       "      <th>batsman</th>\n",
       "      <th>bowler</th>\n",
       "      <th>runs</th>\n",
       "      <th>player_dismissed</th>\n",
       "      <th>city</th>\n",
       "      <th>venue</th>\n",
       "      <th>bowling_team</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.1</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.2</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.3</td>\n",
       "      <td>AJ Finch</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.4</td>\n",
       "      <td>M Klinger</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0.5</td>\n",
       "      <td>M Klinger</td>\n",
       "      <td>SL Malinga</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "      <td>Sri Lanka</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>121</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.3</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>122</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.4</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>123</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.5</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>0</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>124</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.6</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>125</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>19.7</td>\n",
       "      <td>SMSM Senanayake</td>\n",
       "      <td>MA Starc</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "      <td>Australia</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 10 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     match_id batting_team  ball          batsman      bowler  runs  \\\n",
       "0           2    Australia   0.1         AJ Finch  SL Malinga     0   \n",
       "1           2    Australia   0.2         AJ Finch  SL Malinga     0   \n",
       "2           2    Australia   0.3         AJ Finch  SL Malinga     1   \n",
       "3           2    Australia   0.4        M Klinger  SL Malinga     2   \n",
       "4           2    Australia   0.5        M Klinger  SL Malinga     0   \n",
       "..        ...          ...   ...              ...         ...   ...   \n",
       "121       964    Sri Lanka  19.3  SMSM Senanayake    MA Starc     1   \n",
       "122       964    Sri Lanka  19.4      DM de Silva    MA Starc     0   \n",
       "123       964    Sri Lanka  19.5      DM de Silva    MA Starc     0   \n",
       "124       964    Sri Lanka  19.6  SMSM Senanayake    MA Starc     2   \n",
       "125       964    Sri Lanka  19.7  SMSM Senanayake    MA Starc     1   \n",
       "\n",
       "    player_dismissed     city                     venue bowling_team  \n",
       "0                  0      NaN  Melbourne Cricket Ground    Sri Lanka  \n",
       "1                  0      NaN  Melbourne Cricket Ground    Sri Lanka  \n",
       "2                  0      NaN  Melbourne Cricket Ground    Sri Lanka  \n",
       "3                  0      NaN  Melbourne Cricket Ground    Sri Lanka  \n",
       "4                  0      NaN  Melbourne Cricket Ground    Sri Lanka  \n",
       "..               ...      ...                       ...          ...  \n",
       "121                0  Colombo       R Premadasa Stadium    Australia  \n",
       "122                0  Colombo       R Premadasa Stadium    Australia  \n",
       "123      DM de Silva  Colombo       R Premadasa Stadium    Australia  \n",
       "124                0  Colombo       R Premadasa Stadium    Australia  \n",
       "125                0  Colombo       R Premadasa Stadium    Australia  \n",
       "\n",
       "[63888 rows x 10 columns]"
      ]
     },
     "execution_count": 45,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "delivery_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 46,
   "id": "bcb5f9fa",
   "metadata": {},
   "outputs": [],
   "source": [
    "output = delivery_df[['match_id','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 47,
   "id": "28a9fe49",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>ball</th>\n",
       "      <th>runs</th>\n",
       "      <th>player_dismissed</th>\n",
       "      <th>city</th>\n",
       "      <th>venue</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.2</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.3</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.4</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>NaN</td>\n",
       "      <td>Melbourne Cricket Ground</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>121</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.3</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>122</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.4</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>123</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.5</td>\n",
       "      <td>0</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>124</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.6</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>125</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.7</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>R Premadasa Stadium</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     match_id batting_team bowling_team  ball  runs player_dismissed     city  \\\n",
       "0           2    Australia    Sri Lanka   0.1     0                0      NaN   \n",
       "1           2    Australia    Sri Lanka   0.2     0                0      NaN   \n",
       "2           2    Australia    Sri Lanka   0.3     1                0      NaN   \n",
       "3           2    Australia    Sri Lanka   0.4     2                0      NaN   \n",
       "4           2    Australia    Sri Lanka   0.5     0                0      NaN   \n",
       "..        ...          ...          ...   ...   ...              ...      ...   \n",
       "121       964    Sri Lanka    Australia  19.3     1                0  Colombo   \n",
       "122       964    Sri Lanka    Australia  19.4     0                0  Colombo   \n",
       "123       964    Sri Lanka    Australia  19.5     0      DM de Silva  Colombo   \n",
       "124       964    Sri Lanka    Australia  19.6     2                0  Colombo   \n",
       "125       964    Sri Lanka    Australia  19.7     1                0  Colombo   \n",
       "\n",
       "                        venue  \n",
       "0    Melbourne Cricket Ground  \n",
       "1    Melbourne Cricket Ground  \n",
       "2    Melbourne Cricket Ground  \n",
       "3    Melbourne Cricket Ground  \n",
       "4    Melbourne Cricket Ground  \n",
       "..                        ...  \n",
       "121       R Premadasa Stadium  \n",
       "122       R Premadasa Stadium  \n",
       "123       R Premadasa Stadium  \n",
       "124       R Premadasa Stadium  \n",
       "125       R Premadasa Stadium  \n",
       "\n",
       "[63888 rows x 8 columns]"
      ]
     },
     "execution_count": 47,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "output"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 48,
   "id": "ee3f1360",
   "metadata": {},
   "outputs": [],
   "source": [
    "pickle.dump(output,open('dataset_level2.pkl','wb'))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "ff6c3747",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "f0040d9c",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "3e042c11",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "bfaf1d38",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "79ed0305",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "85267b35",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "c0fb4d17",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "d7cdd5fb",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "c90e671b",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "e35f8764",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "0bcf7f04",
   "metadata": {},
   "outputs": [],
   "source": []
  },
  {
   "cell_type": "code",
   "execution_count": 105,
   "id": "26d9dff7",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "Dubai International Cricket Stadium        2969\n",
       "Pallekele International Cricket Stadium    2066\n",
       "Melbourne Cricket Ground                   1453\n",
       "Sydney Cricket Ground                       749\n",
       "Adelaide Oval                               498\n",
       "Harare Sports Club                          372\n",
       "Sharjah Cricket Stadium                     249\n",
       "Sylhet International Cricket Stadium        128\n",
       "Carrara Oval                                 64\n",
       "Name: venue, dtype: int64"
      ]
     },
     "execution_count": 105,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "output[output['city'].isnull()]['venue'].value_counts()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 106,
   "id": "c8754b76",
   "metadata": {},
   "outputs": [],
   "source": [
    "x = np.where(output['city'].isnull(), output['venue'].str.split().apply(lambda x:x[0]), output['city'])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 107,
   "id": "a3c4caef",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "<ipython-input-107-d2c7fa334a48>:1: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame.\n",
      "Try using .loc[row_indexer,col_indexer] = value instead\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  output['city'] = x\n"
     ]
    }
   ],
   "source": [
    "output['city'] = x"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 108,
   "id": "a347115f",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "match_id            0\n",
       "batting_team        0\n",
       "bowling_team        0\n",
       "ball                0\n",
       "runs                0\n",
       "player_dismissed    0\n",
       "city                0\n",
       "venue               0\n",
       "dtype: int64"
      ]
     },
     "execution_count": 108,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "output.isnull().sum()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 109,
   "id": "29012df8",
   "metadata": {},
   "outputs": [
    {
     "name": "stderr",
     "output_type": "stream",
     "text": [
      "C:\\Users\\91842\\anaconda3\\lib\\site-packages\\pandas\\core\\frame.py:4308: SettingWithCopyWarning: \n",
      "A value is trying to be set on a copy of a slice from a DataFrame\n",
      "\n",
      "See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy\n",
      "  return super().drop(\n"
     ]
    }
   ],
   "source": [
    "output.drop(columns=['venue'],inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 110,
   "id": "e1474a99",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>ball</th>\n",
       "      <th>runs</th>\n",
       "      <th>player_dismissed</th>\n",
       "      <th>city</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.2</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.3</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.4</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>121</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.3</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>122</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.4</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>123</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.5</td>\n",
       "      <td>0</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>124</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.6</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>125</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.7</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 7 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "     match_id batting_team bowling_team  ball  runs player_dismissed  \\\n",
       "0           2    Australia    Sri Lanka   0.1     0                0   \n",
       "1           2    Australia    Sri Lanka   0.2     0                0   \n",
       "2           2    Australia    Sri Lanka   0.3     1                0   \n",
       "3           2    Australia    Sri Lanka   0.4     2                0   \n",
       "4           2    Australia    Sri Lanka   0.5     0                0   \n",
       "..        ...          ...          ...   ...   ...              ...   \n",
       "121       964    Sri Lanka    Australia  19.3     1                0   \n",
       "122       964    Sri Lanka    Australia  19.4     0                0   \n",
       "123       964    Sri Lanka    Australia  19.5     0      DM de Silva   \n",
       "124       964    Sri Lanka    Australia  19.6     2                0   \n",
       "125       964    Sri Lanka    Australia  19.7     1                0   \n",
       "\n",
       "          city  \n",
       "0    Melbourne  \n",
       "1    Melbourne  \n",
       "2    Melbourne  \n",
       "3    Melbourne  \n",
       "4    Melbourne  \n",
       "..         ...  \n",
       "121    Colombo  \n",
       "122    Colombo  \n",
       "123    Colombo  \n",
       "124    Colombo  \n",
       "125    Colombo  \n",
       "\n",
       "[63888 rows x 7 columns]"
      ]
     },
     "execution_count": 110,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "output"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 111,
   "id": "c96700c8",
   "metadata": {},
   "outputs": [],
   "source": [
    "total_df = output.groupby('match_id').sum()['runs'].reset_index()\n",
    "output = output.merge(total_df,on='match_id')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 112,
   "id": "7325c75e",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>ball</th>\n",
       "      <th>runs_x</th>\n",
       "      <th>player_dismissed</th>\n",
       "      <th>city</th>\n",
       "      <th>runs_y</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.1</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.2</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.3</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.4</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0.5</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63883</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.3</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63884</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.4</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63885</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.5</td>\n",
       "      <td>0</td>\n",
       "      <td>DM de Silva</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63886</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.6</td>\n",
       "      <td>2</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63887</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>19.7</td>\n",
       "      <td>1</td>\n",
       "      <td>0</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 8 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       match_id batting_team bowling_team  ball  runs_x player_dismissed  \\\n",
       "0             2    Australia    Sri Lanka   0.1       0                0   \n",
       "1             2    Australia    Sri Lanka   0.2       0                0   \n",
       "2             2    Australia    Sri Lanka   0.3       1                0   \n",
       "3             2    Australia    Sri Lanka   0.4       2                0   \n",
       "4             2    Australia    Sri Lanka   0.5       0                0   \n",
       "...         ...          ...          ...   ...     ...              ...   \n",
       "63883       964    Sri Lanka    Australia  19.3       1                0   \n",
       "63884       964    Sri Lanka    Australia  19.4       0                0   \n",
       "63885       964    Sri Lanka    Australia  19.5       0      DM de Silva   \n",
       "63886       964    Sri Lanka    Australia  19.6       2                0   \n",
       "63887       964    Sri Lanka    Australia  19.7       1                0   \n",
       "\n",
       "            city  runs_y  \n",
       "0      Melbourne     168  \n",
       "1      Melbourne     168  \n",
       "2      Melbourne     168  \n",
       "3      Melbourne     168  \n",
       "4      Melbourne     168  \n",
       "...          ...     ...  \n",
       "63883    Colombo     128  \n",
       "63884    Colombo     128  \n",
       "63885    Colombo     128  \n",
       "63886    Colombo     128  \n",
       "63887    Colombo     128  \n",
       "\n",
       "[63888 rows x 8 columns]"
      ]
     },
     "execution_count": 112,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "output"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 113,
   "id": "253ee49b",
   "metadata": {},
   "outputs": [],
   "source": [
    "output['current_score'] = output.groupby('match_id').cumsum()['runs_x']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 114,
   "id": "eb8a9c11",
   "metadata": {},
   "outputs": [],
   "source": [
    "output['over'] = output['ball'].apply(lambda x:str(x).split(\".\")[0])\n",
    "output['ball_no'] = output['ball'].apply(lambda x:str(x).split(\".\")[1])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 115,
   "id": "8ad7c8a6",
   "metadata": {},
   "outputs": [],
   "source": [
    "output['balls_bowled'] = (output['over'].astype('int')*6) + output['ball_no'].astype('int')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 116,
   "id": "6fe77fba",
   "metadata": {},
   "outputs": [],
   "source": [
    "output['crr'] = round((output['current_score']*6)/output['balls_bowled'],2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 117,
   "id": "9453a25d",
   "metadata": {},
   "outputs": [],
   "source": [
    "output['player_dismissed'] = output['player_dismissed'].apply(lambda x:0 if x=='0' else 1)\n",
    "output['player_dismissed'] = output['player_dismissed'].astype('int')\n",
    "output['player_dismissed'] = output.groupby('match_id').cumsum()['player_dismissed']\n",
    "output['wickets_left'] = 10 - output['player_dismissed']"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 128,
   "id": "55e7ad10",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df = output[['match_id','batting_team','bowling_team','runs_x','current_score','balls_bowled','wickets_left','crr','city','runs_y']]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 129,
   "id": "fdd412e0",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>runs_x</th>\n",
       "      <th>current_score</th>\n",
       "      <th>balls_bowled</th>\n",
       "      <th>wickets_left</th>\n",
       "      <th>crr</th>\n",
       "      <th>city</th>\n",
       "      <th>runs_y</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>1</td>\n",
       "      <td>10</td>\n",
       "      <td>0.00</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0</td>\n",
       "      <td>0</td>\n",
       "      <td>2</td>\n",
       "      <td>10</td>\n",
       "      <td>0.00</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>1</td>\n",
       "      <td>1</td>\n",
       "      <td>3</td>\n",
       "      <td>10</td>\n",
       "      <td>2.00</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>2</td>\n",
       "      <td>3</td>\n",
       "      <td>4</td>\n",
       "      <td>10</td>\n",
       "      <td>4.50</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>2</td>\n",
       "      <td>Australia</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0</td>\n",
       "      <td>3</td>\n",
       "      <td>5</td>\n",
       "      <td>10</td>\n",
       "      <td>3.60</td>\n",
       "      <td>Melbourne</td>\n",
       "      <td>168</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63883</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>125</td>\n",
       "      <td>117</td>\n",
       "      <td>2</td>\n",
       "      <td>6.41</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63884</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0</td>\n",
       "      <td>125</td>\n",
       "      <td>118</td>\n",
       "      <td>2</td>\n",
       "      <td>6.36</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63885</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>0</td>\n",
       "      <td>125</td>\n",
       "      <td>119</td>\n",
       "      <td>1</td>\n",
       "      <td>6.30</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63886</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>2</td>\n",
       "      <td>127</td>\n",
       "      <td>120</td>\n",
       "      <td>1</td>\n",
       "      <td>6.35</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63887</th>\n",
       "      <td>964</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>128</td>\n",
       "      <td>121</td>\n",
       "      <td>1</td>\n",
       "      <td>6.35</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>128</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 10 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       match_id batting_team bowling_team  runs_x  current_score  \\\n",
       "0             2    Australia    Sri Lanka       0              0   \n",
       "1             2    Australia    Sri Lanka       0              0   \n",
       "2             2    Australia    Sri Lanka       1              1   \n",
       "3             2    Australia    Sri Lanka       2              3   \n",
       "4             2    Australia    Sri Lanka       0              3   \n",
       "...         ...          ...          ...     ...            ...   \n",
       "63883       964    Sri Lanka    Australia       1            125   \n",
       "63884       964    Sri Lanka    Australia       0            125   \n",
       "63885       964    Sri Lanka    Australia       0            125   \n",
       "63886       964    Sri Lanka    Australia       2            127   \n",
       "63887       964    Sri Lanka    Australia       1            128   \n",
       "\n",
       "       balls_bowled  wickets_left   crr       city  runs_y  \n",
       "0                 1            10  0.00  Melbourne     168  \n",
       "1                 2            10  0.00  Melbourne     168  \n",
       "2                 3            10  2.00  Melbourne     168  \n",
       "3                 4            10  4.50  Melbourne     168  \n",
       "4                 5            10  3.60  Melbourne     168  \n",
       "...             ...           ...   ...        ...     ...  \n",
       "63883           117             2  6.41    Colombo     128  \n",
       "63884           118             2  6.36    Colombo     128  \n",
       "63885           119             1  6.30    Colombo     128  \n",
       "63886           120             1  6.35    Colombo     128  \n",
       "63887           121             1  6.35    Colombo     128  \n",
       "\n",
       "[63888 rows x 10 columns]"
      ]
     },
     "execution_count": 129,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 130,
   "id": "fa88616f",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df = final_df.sample(final_df.shape[0])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 131,
   "id": "5d38b218",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df['balls_left'] = 120 - final_df['balls_bowled']\n",
    "final_df['balls_left'] = final_df['balls_left'].apply(lambda x:0 if x<0 else x)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 132,
   "id": "185232a5",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df['crr'] = round((final_df['current_score']*6)/final_df['balls_bowled'],2)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 133,
   "id": "34b69041",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>runs_x</th>\n",
       "      <th>current_score</th>\n",
       "      <th>balls_bowled</th>\n",
       "      <th>wickets_left</th>\n",
       "      <th>crr</th>\n",
       "      <th>city</th>\n",
       "      <th>runs_y</th>\n",
       "      <th>balls_left</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>13793</th>\n",
       "      <td>172</td>\n",
       "      <td>India</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>68</td>\n",
       "      <td>53</td>\n",
       "      <td>9</td>\n",
       "      <td>7.70</td>\n",
       "      <td>Bengaluru</td>\n",
       "      <td>190</td>\n",
       "      <td>67</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>37949</th>\n",
       "      <td>612</td>\n",
       "      <td>India</td>\n",
       "      <td>South Africa</td>\n",
       "      <td>1</td>\n",
       "      <td>110</td>\n",
       "      <td>80</td>\n",
       "      <td>6</td>\n",
       "      <td>8.25</td>\n",
       "      <td>Durban</td>\n",
       "      <td>168</td>\n",
       "      <td>40</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>44653</th>\n",
       "      <td>690</td>\n",
       "      <td>South Africa</td>\n",
       "      <td>India</td>\n",
       "      <td>1</td>\n",
       "      <td>83</td>\n",
       "      <td>60</td>\n",
       "      <td>9</td>\n",
       "      <td>8.30</td>\n",
       "      <td>Johannesburg</td>\n",
       "      <td>219</td>\n",
       "      <td>60</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25707</th>\n",
       "      <td>481</td>\n",
       "      <td>India</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>22</td>\n",
       "      <td>27</td>\n",
       "      <td>10</td>\n",
       "      <td>4.89</td>\n",
       "      <td>Durban</td>\n",
       "      <td>188</td>\n",
       "      <td>93</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28922</th>\n",
       "      <td>517</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>4</td>\n",
       "      <td>84</td>\n",
       "      <td>51</td>\n",
       "      <td>10</td>\n",
       "      <td>9.88</td>\n",
       "      <td>Nottingham</td>\n",
       "      <td>192</td>\n",
       "      <td>69</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7179</th>\n",
       "      <td>90</td>\n",
       "      <td>India</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>1</td>\n",
       "      <td>51</td>\n",
       "      <td>38</td>\n",
       "      <td>9</td>\n",
       "      <td>8.05</td>\n",
       "      <td>Cuttack</td>\n",
       "      <td>180</td>\n",
       "      <td>82</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8878</th>\n",
       "      <td>107</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>1</td>\n",
       "      <td>163</td>\n",
       "      <td>98</td>\n",
       "      <td>8</td>\n",
       "      <td>9.98</td>\n",
       "      <td>Karachi</td>\n",
       "      <td>205</td>\n",
       "      <td>22</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>54555</th>\n",
       "      <td>817</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>1</td>\n",
       "      <td>79</td>\n",
       "      <td>73</td>\n",
       "      <td>8</td>\n",
       "      <td>6.49</td>\n",
       "      <td>Dominica</td>\n",
       "      <td>132</td>\n",
       "      <td>47</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>61066</th>\n",
       "      <td>917</td>\n",
       "      <td>England</td>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>0</td>\n",
       "      <td>74</td>\n",
       "      <td>79</td>\n",
       "      <td>4</td>\n",
       "      <td>5.62</td>\n",
       "      <td>Delhi</td>\n",
       "      <td>142</td>\n",
       "      <td>41</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22187</th>\n",
       "      <td>447</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>England</td>\n",
       "      <td>1</td>\n",
       "      <td>154</td>\n",
       "      <td>111</td>\n",
       "      <td>3</td>\n",
       "      <td>8.32</td>\n",
       "      <td>Southampton</td>\n",
       "      <td>163</td>\n",
       "      <td>9</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 11 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       match_id  batting_team  bowling_team  runs_x  current_score  \\\n",
       "13793       172         India     Australia       1             68   \n",
       "37949       612         India  South Africa       1            110   \n",
       "44653       690  South Africa         India       1             83   \n",
       "25707       481         India     Australia       1             22   \n",
       "28922       517     Sri Lanka   West Indies       4             84   \n",
       "...         ...           ...           ...     ...            ...   \n",
       "7179         90         India     Sri Lanka       1             51   \n",
       "8878        107      Pakistan   West Indies       1            163   \n",
       "54555       817   West Indies   New Zealand       1             79   \n",
       "61066       917       England   Afghanistan       0             74   \n",
       "22187       447     Sri Lanka       England       1            154   \n",
       "\n",
       "       balls_bowled  wickets_left   crr          city  runs_y  balls_left  \n",
       "13793            53             9  7.70     Bengaluru     190          67  \n",
       "37949            80             6  8.25        Durban     168          40  \n",
       "44653            60             9  8.30  Johannesburg     219          60  \n",
       "25707            27            10  4.89        Durban     188          93  \n",
       "28922            51            10  9.88    Nottingham     192          69  \n",
       "...             ...           ...   ...           ...     ...         ...  \n",
       "7179             38             9  8.05       Cuttack     180          82  \n",
       "8878             98             8  9.98       Karachi     205          22  \n",
       "54555            73             8  6.49      Dominica     132          47  \n",
       "61066            79             4  5.62         Delhi     142          41  \n",
       "22187           111             3  8.32   Southampton     163           9  \n",
       "\n",
       "[63888 rows x 11 columns]"
      ]
     },
     "execution_count": 133,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 134,
   "id": "328f248f",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df.drop(columns=['balls_bowled'],inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 135,
   "id": "c4013df7",
   "metadata": {},
   "outputs": [],
   "source": [
    "groups = final_df.groupby('match_id')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 136,
   "id": "36e179a2",
   "metadata": {},
   "outputs": [],
   "source": [
    "match_ids = final_df['match_id'].unique()\n",
    "last_five = []\n",
    "for id in match_ids:\n",
    "    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs_x'].values.tolist())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 137,
   "id": "c51bbb8e",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df['last_five'] = last_five"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 138,
   "id": "c6e3127d",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>runs_x</th>\n",
       "      <th>current_score</th>\n",
       "      <th>wickets_left</th>\n",
       "      <th>crr</th>\n",
       "      <th>city</th>\n",
       "      <th>runs_y</th>\n",
       "      <th>balls_left</th>\n",
       "      <th>last_five</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>13793</th>\n",
       "      <td>172</td>\n",
       "      <td>India</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>68</td>\n",
       "      <td>9</td>\n",
       "      <td>7.70</td>\n",
       "      <td>Bengaluru</td>\n",
       "      <td>190</td>\n",
       "      <td>67</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>37949</th>\n",
       "      <td>612</td>\n",
       "      <td>India</td>\n",
       "      <td>South Africa</td>\n",
       "      <td>1</td>\n",
       "      <td>110</td>\n",
       "      <td>6</td>\n",
       "      <td>8.25</td>\n",
       "      <td>Durban</td>\n",
       "      <td>168</td>\n",
       "      <td>40</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>44653</th>\n",
       "      <td>690</td>\n",
       "      <td>South Africa</td>\n",
       "      <td>India</td>\n",
       "      <td>1</td>\n",
       "      <td>83</td>\n",
       "      <td>9</td>\n",
       "      <td>8.30</td>\n",
       "      <td>Johannesburg</td>\n",
       "      <td>219</td>\n",
       "      <td>60</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>25707</th>\n",
       "      <td>481</td>\n",
       "      <td>India</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>22</td>\n",
       "      <td>10</td>\n",
       "      <td>4.89</td>\n",
       "      <td>Durban</td>\n",
       "      <td>188</td>\n",
       "      <td>93</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28922</th>\n",
       "      <td>517</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>4</td>\n",
       "      <td>84</td>\n",
       "      <td>10</td>\n",
       "      <td>9.88</td>\n",
       "      <td>Nottingham</td>\n",
       "      <td>192</td>\n",
       "      <td>69</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7179</th>\n",
       "      <td>90</td>\n",
       "      <td>India</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>1</td>\n",
       "      <td>51</td>\n",
       "      <td>9</td>\n",
       "      <td>8.05</td>\n",
       "      <td>Cuttack</td>\n",
       "      <td>180</td>\n",
       "      <td>82</td>\n",
       "      <td>52.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8878</th>\n",
       "      <td>107</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>1</td>\n",
       "      <td>163</td>\n",
       "      <td>8</td>\n",
       "      <td>9.98</td>\n",
       "      <td>Karachi</td>\n",
       "      <td>205</td>\n",
       "      <td>22</td>\n",
       "      <td>53.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>54555</th>\n",
       "      <td>817</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>1</td>\n",
       "      <td>79</td>\n",
       "      <td>8</td>\n",
       "      <td>6.49</td>\n",
       "      <td>Dominica</td>\n",
       "      <td>132</td>\n",
       "      <td>47</td>\n",
       "      <td>53.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>61066</th>\n",
       "      <td>917</td>\n",
       "      <td>England</td>\n",
       "      <td>Afghanistan</td>\n",
       "      <td>0</td>\n",
       "      <td>74</td>\n",
       "      <td>4</td>\n",
       "      <td>5.62</td>\n",
       "      <td>Delhi</td>\n",
       "      <td>142</td>\n",
       "      <td>41</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>22187</th>\n",
       "      <td>447</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>England</td>\n",
       "      <td>1</td>\n",
       "      <td>154</td>\n",
       "      <td>3</td>\n",
       "      <td>8.32</td>\n",
       "      <td>Southampton</td>\n",
       "      <td>163</td>\n",
       "      <td>9</td>\n",
       "      <td>NaN</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>63888 rows × 11 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       match_id  batting_team  bowling_team  runs_x  current_score  \\\n",
       "13793       172         India     Australia       1             68   \n",
       "37949       612         India  South Africa       1            110   \n",
       "44653       690  South Africa         India       1             83   \n",
       "25707       481         India     Australia       1             22   \n",
       "28922       517     Sri Lanka   West Indies       4             84   \n",
       "...         ...           ...           ...     ...            ...   \n",
       "7179         90         India     Sri Lanka       1             51   \n",
       "8878        107      Pakistan   West Indies       1            163   \n",
       "54555       817   West Indies   New Zealand       1             79   \n",
       "61066       917       England   Afghanistan       0             74   \n",
       "22187       447     Sri Lanka       England       1            154   \n",
       "\n",
       "       wickets_left   crr          city  runs_y  balls_left  last_five  \n",
       "13793             9  7.70     Bengaluru     190          67        NaN  \n",
       "37949             6  8.25        Durban     168          40        NaN  \n",
       "44653             9  8.30  Johannesburg     219          60        NaN  \n",
       "25707            10  4.89        Durban     188          93        NaN  \n",
       "28922            10  9.88    Nottingham     192          69        NaN  \n",
       "...             ...   ...           ...     ...         ...        ...  \n",
       "7179              9  8.05       Cuttack     180          82       52.0  \n",
       "8878              8  9.98       Karachi     205          22       53.0  \n",
       "54555             8  6.49      Dominica     132          47       53.0  \n",
       "61066             4  5.62         Delhi     142          41        NaN  \n",
       "22187             3  8.32   Southampton     163           9        NaN  \n",
       "\n",
       "[63888 rows x 11 columns]"
      ]
     },
     "execution_count": 138,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 139,
   "id": "b8d05a12",
   "metadata": {},
   "outputs": [],
   "source": [
    "final_df.dropna(inplace=True)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 140,
   "id": "12d2124c",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>match_id</th>\n",
       "      <th>batting_team</th>\n",
       "      <th>bowling_team</th>\n",
       "      <th>runs_x</th>\n",
       "      <th>current_score</th>\n",
       "      <th>wickets_left</th>\n",
       "      <th>crr</th>\n",
       "      <th>city</th>\n",
       "      <th>runs_y</th>\n",
       "      <th>balls_left</th>\n",
       "      <th>last_five</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>9124</th>\n",
       "      <td>120</td>\n",
       "      <td>South Africa</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>0</td>\n",
       "      <td>98</td>\n",
       "      <td>0</td>\n",
       "      <td>5.88</td>\n",
       "      <td>Colombo</td>\n",
       "      <td>98</td>\n",
       "      <td>20</td>\n",
       "      <td>40.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>63029</th>\n",
       "      <td>954</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>India</td>\n",
       "      <td>4</td>\n",
       "      <td>62</td>\n",
       "      <td>3</td>\n",
       "      <td>4.65</td>\n",
       "      <td>Mirpur</td>\n",
       "      <td>83</td>\n",
       "      <td>40</td>\n",
       "      <td>40.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>29920</th>\n",
       "      <td>528</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>0</td>\n",
       "      <td>80</td>\n",
       "      <td>8</td>\n",
       "      <td>8.00</td>\n",
       "      <td>Nottingham</td>\n",
       "      <td>158</td>\n",
       "      <td>60</td>\n",
       "      <td>41.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>20468</th>\n",
       "      <td>422</td>\n",
       "      <td>Australia</td>\n",
       "      <td>India</td>\n",
       "      <td>1</td>\n",
       "      <td>23</td>\n",
       "      <td>10</td>\n",
       "      <td>11.50</td>\n",
       "      <td>Sydney</td>\n",
       "      <td>194</td>\n",
       "      <td>108</td>\n",
       "      <td>47.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>15147</th>\n",
       "      <td>223</td>\n",
       "      <td>South Africa</td>\n",
       "      <td>Australia</td>\n",
       "      <td>1</td>\n",
       "      <td>100</td>\n",
       "      <td>8</td>\n",
       "      <td>7.69</td>\n",
       "      <td>Port Elizabeth</td>\n",
       "      <td>158</td>\n",
       "      <td>42</td>\n",
       "      <td>42.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>...</th>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "      <td>...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>28042</th>\n",
       "      <td>503</td>\n",
       "      <td>Australia</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>1</td>\n",
       "      <td>52</td>\n",
       "      <td>8</td>\n",
       "      <td>7.43</td>\n",
       "      <td>Sydney</td>\n",
       "      <td>150</td>\n",
       "      <td>78</td>\n",
       "      <td>53.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>59940</th>\n",
       "      <td>908</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>Bangladesh</td>\n",
       "      <td>1</td>\n",
       "      <td>78</td>\n",
       "      <td>9</td>\n",
       "      <td>9.55</td>\n",
       "      <td>Kolkata</td>\n",
       "      <td>201</td>\n",
       "      <td>71</td>\n",
       "      <td>54.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>7179</th>\n",
       "      <td>90</td>\n",
       "      <td>India</td>\n",
       "      <td>Sri Lanka</td>\n",
       "      <td>1</td>\n",
       "      <td>51</td>\n",
       "      <td>9</td>\n",
       "      <td>8.05</td>\n",
       "      <td>Cuttack</td>\n",
       "      <td>180</td>\n",
       "      <td>82</td>\n",
       "      <td>52.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>8878</th>\n",
       "      <td>107</td>\n",
       "      <td>Pakistan</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>1</td>\n",
       "      <td>163</td>\n",
       "      <td>8</td>\n",
       "      <td>9.98</td>\n",
       "      <td>Karachi</td>\n",
       "      <td>205</td>\n",
       "      <td>22</td>\n",
       "      <td>53.0</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>54555</th>\n",
       "      <td>817</td>\n",
       "      <td>West Indies</td>\n",
       "      <td>New Zealand</td>\n",
       "      <td>1</td>\n",
       "      <td>79</td>\n",
       "      <td>8</td>\n",
       "      <td>6.49</td>\n",
       "      <td>Dominica</td>\n",
       "      <td>132</td>\n",
       "      <td>47</td>\n",
       "      <td>53.0</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "<p>48645 rows × 11 columns</p>\n",
       "</div>"
      ],
      "text/plain": [
       "       match_id  batting_team bowling_team  runs_x  current_score  \\\n",
       "9124        120  South Africa    Sri Lanka       0             98   \n",
       "63029       954      Pakistan        India       4             62   \n",
       "29920       528     Sri Lanka  New Zealand       0             80   \n",
       "20468       422     Australia        India       1             23   \n",
       "15147       223  South Africa    Australia       1            100   \n",
       "...         ...           ...          ...     ...            ...   \n",
       "28042       503     Australia  New Zealand       1             52   \n",
       "59940       908      Pakistan   Bangladesh       1             78   \n",
       "7179         90         India    Sri Lanka       1             51   \n",
       "8878        107      Pakistan  West Indies       1            163   \n",
       "54555       817   West Indies  New Zealand       1             79   \n",
       "\n",
       "       wickets_left    crr            city  runs_y  balls_left  last_five  \n",
       "9124              0   5.88         Colombo      98          20       40.0  \n",
       "63029             3   4.65          Mirpur      83          40       40.0  \n",
       "29920             8   8.00      Nottingham     158          60       41.0  \n",
       "20468            10  11.50          Sydney     194         108       47.0  \n",
       "15147             8   7.69  Port Elizabeth     158          42       42.0  \n",
       "...             ...    ...             ...     ...         ...        ...  \n",
       "28042             8   7.43          Sydney     150          78       53.0  \n",
       "59940             9   9.55         Kolkata     201          71       54.0  \n",
       "7179              9   8.05         Cuttack     180          82       52.0  \n",
       "8878              8   9.98         Karachi     205          22       53.0  \n",
       "54555             8   6.49        Dominica     132          47       53.0  \n",
       "\n",
       "[48645 rows x 11 columns]"
      ]
     },
     "execution_count": 140,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "final_df"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 167,
   "id": "58924df5",
   "metadata": {},
   "outputs": [],
   "source": [
    "eligible_cities = final_df['city'].value_counts()[final_df['city'].value_counts() > 600].index.tolist()\n",
    "final_df = final_df[final_df['city'].isin(eligible_cities)]"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 168,
   "id": "c80f8283",
   "metadata": {},
   "outputs": [],
   "source": [
    "X = final_df.drop(columns=['match_id','runs_x','runs_y'])\n",
    "y = final_df['runs_y']\n",
    "from sklearn.model_selection import train_test_split\n",
    "X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=1)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 49,
   "id": "e6adb064",
   "metadata": {},
   "outputs": [
    {
     "ename": "NameError",
     "evalue": "name 'X_test' is not defined",
     "output_type": "error",
     "traceback": [
      "\u001b[1;31m---------------------------------------------------------------------------\u001b[0m",
      "\u001b[1;31mNameError\u001b[0m                                 Traceback (most recent call last)",
      "\u001b[1;32m<ipython-input-49-0c1cdefd54ea>\u001b[0m in \u001b[0;36m<module>\u001b[1;34m\u001b[0m\n\u001b[1;32m----> 1\u001b[1;33m \u001b[0mX_test\u001b[0m\u001b[1;33m\u001b[0m\u001b[1;33m\u001b[0m\u001b[0m\n\u001b[0m",
      "\u001b[1;31mNameError\u001b[0m: name 'X_test' is not defined"
     ]
    }
   ],
   "source": [
    "X_test"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 177,
   "id": "41d7c63a",
   "metadata": {},
   "outputs": [],
   "source": [
    "from sklearn.compose import ColumnTransformer\n",
    "from sklearn.preprocessing import OneHotEncoder\n",
    "from sklearn.pipeline import Pipeline\n",
    "from sklearn.preprocessing import StandardScaler\n",
    "from sklearn.ensemble import RandomForestRegressor\n",
    "from xgboost import XGBRegressor\n",
    "from sklearn.metrics import r2_score,mean_absolute_error\n",
    "\n",
    "trf = ColumnTransformer([\n",
    "    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])\n",
    "]\n",
    ",remainder='passthrough')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 212,
   "id": "803b7f75",
   "metadata": {},
   "outputs": [],
   "source": [
    "pipe = Pipeline(steps=[\n",
    "    ('step1',trf),\n",
    "    ('step2',StandardScaler()),\n",
    "    ('step3',XGBRegressor(n_estimators=1000,learning_rate=0.2,max_depth=12,random_state=1))\n",
    "])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 213,
   "id": "86c6d5d1",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "0.9510644253049361\n",
      "3.1411552178006943\n"
     ]
    }
   ],
   "source": [
    "pipe.fit(X_train,y_train)\n",
    "y_pred = pipe.predict(X_test)\n",
    "print(r2_score(y_test,y_pred))\n",
    "print(mean_absolute_error(y_test,y_pred))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 50,
   "id": "7c843b7e",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "['Australia',\n",
       " 'India',\n",
       " 'Bangladesh',\n",
       " 'New Zealand',\n",
       " 'South Africa',\n",
       " 'England',\n",
       " 'West Indies',\n",
       " 'Afghanistan',\n",
       " 'Pakistan',\n",
       " 'Sri Lanka']"
      ]
     },
     "execution_count": 50,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "teams"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "ff01865d",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.8"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}